#header {
  height: 460px;
  width: 40%;
  position: relative;
  text-align: center;
  background-color: #cf5a00;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  display: flex;
  margin-top: 300px;
  margin-left: 5%;
  margin-right: 5%;
}
.avatarName {
  position: relative;
  top: auto;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
